@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@font-face {
    font-family: "Hypebuzz";
    src: url("./fonts/Hypebuzz.otf");
}
@font-face {
    font-family: "HypebuzzOutline";
    src: url("./fonts/HypebuzzOutline.ttf");
}
* {
    margin: 0;
    padding: 0;
}

body {
    --fg-color: #ffffff;
    /* --fg-color-sec: #fff; */
    --bg-color: #0a0010;
    --bg-color-sec: #060009;
    /* --bg-color-sec: #000000; */
    --pri-font: "HypebuzzOutline";
    background-color: var(--bg-color);
    height: 100vh;
}

a {
    padding: 0;
    text-decoration: none;
}
